* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0;
    border-bottom: 1px solid #5d6b6b;
    background-color: #c2d8b9;
}

h1 {
    font-size: 50px;
}

header a {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

header a:hover {
    color: rgb(39, 177, 39);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/fundo1.png');
    /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Impede repetição da imagem */
    opacity: 0.6;
    /* Opacidade da imagem de fundo */
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
}


.container .sobre {
    margin-top: 20px;
    padding: 30px;
    background-color: #c2d8b9;
    border-radius: 2%;
    display: flex;
    /* Utilizando flexbox */
    gap: 20px;
    /* Espaço entre a imagem e o texto */
    align-items: center;
    /* Alinha verticalmente o conteúdo */
}

.sobre img {
    max-width: 320px;
    /* Define a largura máxima da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 8px;
    /* Adiciona borda arredondada na imagem, se desejar */
}

.sobre h3 {
    font-size: 16px;
    /* Ajuste o tamanho do texto para não ficar grande demais */
    line-height: 1.6;
    /* Torna o texto mais legível */
}